{% extends "layout.html" %}
{% block body %}
<script>
var numCond={{ numCond }};
</script>
<script type="text/javascript" src="{{url_for('static',filename='formCode.js')}}"></script>


<form id="Form1" onaction="{{ url_for('build_filter')}}" method='POST'>
<div id="andorDiv">Current Filter: {{ wFilter }}</div><br>
<select tabindex=1 name=fType >
		<option value="type">Type</option>
		<option value="date">Date</option>
		<option value="month">Month</option>
		<option value="year">Year</option>
		<option value="maxReps">Max Reps</option>
		<option value="maxWeight">Max Weight</option>
</select>
<select tabindex=2 name=opType>
		<option value="eq">=</option>
		<option value="ne">!=</option>
		<option value="gt">></option>
		<option value="ge">>=</option>
		<option value="lt"><</option>
		<option value="le"><=</option>
</select>
<input tabindex=3 type=text name="val" id="val">
<input type=hidden id="navFlag" name=navFlag value="standard">
<input type=hidden id="exCondNum" name=exCondNum value=0>
<button onclick="add_filter()">ADD</button>
<button onclick="reset_filter()">Reset Filter</button>
<input type=hidden id="addType" name=addType value="none">
<button onclick="view_results()">View</button>
</form>
<script>andor();</script>
{% endblock %}

